@import url("https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700");

body {
  margin: 0;
  padding: 0;
}

/*--------------------colors*/

.bg-color-navbar {
  background-color: #303e59;
}

/*--------------------navbar*/

h2 {
  font-family: "Ubunto", sans-serif;
  font-weight: 100;
  margin: 10px 0 0 20px;
  letter-spacing: 5px;
  color: #fafafa;
}

.navbar-container {
  height: 50px;
  width: 100%;
  height: 60px;
  font-family: "Ubunto", sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-container a {
  text-decoration: none;
}

.nav-item a {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
}

.nav {
  margin: 10px 20px 0px 0;
}

.nav-item a:hover {
  background-color: #fafafa;
  color: #303e59;
}

/*--------------------header*/

.header-container {
  background: url("../images/hero.jpg") no-repeat bottom right fixed;
  background-size: cover;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay {
  position: absolute;
  top: 60px;

  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#logo {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  margin: 80px 0 0 40px;
  padding: 15px;
  text-align: center;
  border: 4px solid #fafafa;
  left: 525px;
  top: 175px;
}

#logo h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  color: #fafafa;
  font-family: "Ubunto", sans-serif;
}

#logo h6 {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.01em;
  color: #fafafa;
}

/*--------------------general sections*/

.section-container{
    min-height: 600px;
    background-color: #fafafa;

}

/*--------------------about*/

.section-container--blue{
    background-color: #303e59;
}