@import url("https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubunto", sans-serif;
  font-size: 20px;
}

/*---------headings*/
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin: 80px 0 80px 0;
}

h6 {
  line-height: 10px;
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 10px;
  text-align: center;
}

/*---------buttons*/

.btn {
  color: #303e59;
}
form .btn {
  background-color: #fafafa;
}

/*---------navbar*/

.navbar {
  background-color: #303e59;
}

.navbar .navbar-brand {
  color: #fafafa;
}

.navbar .navbar-brand {
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: 500;
  line-height: 30px;
}

.navbar-nav .nav-item .nav-link {
  letter-spacing: 3px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #fafafa;
}

.navbar-dark .navbar-toggler {
  border: 0;
}

/*---------containers*/

.container-home {
  height: 100vh;
  position: relative;
  background: url("../images/bg-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-about {
  height: 600px;
  background-color: #303e59;
  color: #fafafa;
}

.container-work {
  height: 600px;
  text-align: center;
}

.container-contact {
  height: 600px;
  background-color: #303e59;
  color: #fafafa;
}

/*---------contact*/

.container-contact p {
  font-weight: 100;
  margin: 3px;
}

.container-contact ul {
  margin-top: 50px;
}

.container-contact ul li {
  margin-bottom: 5px;
  font-weight: 100;
}

.container p {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

/*---------hovers*/

.navbar-nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*---------icons*/

.container-contact i {
  color: #fafafa;
  font-size: 26px;
  margin: 5px;
}
